/* Баннер */
.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--hero-bg-color);
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    // phone screen
    background-image:
        linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero/img_mob@1x.jpg);
    @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
        background-image:
        linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero/img_mob@2x.jpg);
        }
    // tablet screen
        @media screen and (min-width: 768px){
            background-image:
            linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/hero/img_tab@1x.jpg);
            @media screen and (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image:
                        linear-gradient(rgba(47, 48, 58, 0.4),
                            rgba(47, 48, 58, 0.4)),
                        url(../images/hero/img_tab@2x.jpg);
                }
        }
// desktop screen
    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        background-image:
                linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero/img_desk@1x.jpg);
        
            @media screen and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:
                    linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/hero/img_desk@2x.jpg);
            }
       }
    }

.hero__title {
    margin-bottom: var(--card-gap);

    font-weight: 900;
    font-size: 26px;
    line-height: calc(42/26);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-text-color);
    @media screen and (min-width: 1200px){
        font-size: 44px;
        line-height: calc(60/44);
    }
}

.hero__button {
    background-color: var(--accent-color);
    color: var(--light-text-color);

    cursor: pointer;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;

    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 24px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--aktive-hero-btn-color);
    }
    @media screen and (min-width: 1200px){
        padding: 10px 32px;
    }
}
