:root {
    --primery-background-color: #FFFFFF;
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --secondary-background-color: #F5F4FA;
    --card-background-color: #FFFFFF;
    --dark-text-color: #000000;
    --light-text-color: #FFFFFF;
    --aktive-hero-btn-color: #188CE8;
    --dark-background-color: #2F303A;
    --address-link-color: rgba(255, 255, 255, 0.6);
    --border-card-color: #EEEEEE;
    --footer-border-color: #ECECEC;
    --hero-bg-color: #C4C4C4;
    --social-link-color: #AFB1B8;
    --specialization-bg-color: rgba(47, 48, 58, 0.8);
    --hover-overlay-color: rgba(33, 150, 243, 0.9);
    --modal-backdrop-color: rgba(0, 0, 0, 0.2);
    --modal-border-color: rgba(0, 0, 0, 0.1);
    --footer-email-border-color: rgba(255, 255, 255, 0.3);
    --footer-email-shadow-color: rgba(0, 0, 0, 0.15);
    --input-border-color: rgba(33, 33, 33, 0.2);
    --modal-placeholder-color: rgba(117, 117, 117, 0.5);
    --card-gap: 30px;

    --main-font: Roboto, sans-serif;
    --logo-font: 'Raleway', sans-serif;

}